@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    color:black;
    background-color:rgb(242, 239, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 25px;
    margin: 0;
}

.img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 4px 4px 14px rgba(64, 10, 100, 0.50);
    margin: 10px;
}

.info{
    color:rgb(64, 10, 100);
    font-style: italic;
    font-weight: 600;
    margin: 0px 250px;
    display: flex;
    /*flex-wrap: wrap;*/
}

.url{
    color:rgb(64, 10, 100);
    text-decoration:underline;
}

.url:hover{
    color:rgb(174, 156, 255);
    text-decoration:none;
}

.card{
    background-color:rgb(210, 201, 249);
    border: 2px solid rgb(64, 10, 100);
    border-radius: 10px;
    padding: 15px;
    margin: 5px 150px;
}

.container{
    max-width: 100000px;
    margin: auto;
}

.table{
    width: 50%;
    margin: 5px;
    padding: 15px;
}

.table tr:nth-child(1){
    background-color: rgb(178, 161, 255);
}

.forms input{
    font-size: 18px;
    width: 80%;
    border: 0;
    background-color:rgb(210, 201, 249);
    border-bottom: 2px solid rgb(178, 161, 255);
    padding: 10px;
    margin: 5px;
    transition: 0.2s;
}

.forms input:hover{
    font-size: 16px;
    background-color: rgb(178, 161, 255); 
    padding: 25px;
    margin: 10px 5px;
    border-color:rgb(178, 161, 255);
    box-shadow: 4px 4px 14px rgba(64, 10, 100, 0.50);
}

.forms textarea{
    font-size: 20px;
    width: 80%;
    border: 0;
    background-color:rgb(210, 201, 249);
    border-bottom: 2px solid rgb(178, 161, 255);
    padding: 10px;
    margin: 5px;
    transition: 0.2s;
}

.forms textarea:hover{
    font-size: large;
    background-color: rgb(178, 161, 255); 
    padding: 25px;
    margin: 10px 5px;
    border-color:rgb(178, 161, 255);
    box-shadow: 4px 4px 14px rgba(64, 10, 100, 0.50);
}

.forms button{
    font-size: large;
    background-color: rgb(178, 161, 255); 
    padding: 25px;
    margin: 5px;
    border-color: rgb(136, 98, 160);
    transition: 0.2s;
}

.forms button:hover{
    font-size: large;
    background-color: rgb(178, 161, 255); 
    padding: 25px;
    margin: 10px 5px;
    border-color:rgb(178, 161, 255);
    box-shadow: 4px 4px 14px rgba(64, 10, 100, 0.50);
}

@media (max-width: 810px) {
    .img{
        align-self: center;
        width: 300px;
        height: 300px;
    }
    
    .info{
        height: 100vh;
        flex-direction: column;
        margin: 5px 15px;
    }
    
    .card{
        height: 60vh;
        border-radius: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        width: 100%;
    }

    .table{
        width: 100%;
        margin: 5px;
        padding: 15px;
    }
}
